.root {
  --plsmc-rc-col-gap: 0px;
}
.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-pR0FpPYRFIs9lpq);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kGMvt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__tgPsj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__bVtKl {
  --plsmc-rc-col-gap: 0px;
}
.columns__bVtKl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__bVtKl > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bVtKl > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bVtKl > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bVtKl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bVtKl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qxfpY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__mlpUu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__mlpUu > picture > img {
  object-fit: cover;
}
.img__mlpUu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__lvnrL {
  --plsmc-rc-col-gap: 0px;
}
.columns__lvnrL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__lvnrL > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lvnrL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lvnrL > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yb3IZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__w5XEo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-GQn-KWNhG3B1L7a);
  font-size: var(--token-3H0iTyFykBwv1HX);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__jt6Aw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-l_0_7ybCdonHN4K);
  font-size: var(--token-ASZGThkx6IBSWYz);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__jt6Aw {
    font-size: 20px;
  }
}
.text__vy22S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__tCr1R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__imCrG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ds0Nt {
  font-size: 13px;
}
.svg__d75Rn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__mth31 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__hSwbn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__hSwbn > picture > img {
  object-fit: cover;
}
.img__hSwbn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__jWG {
  --plsmc-rc-col-gap: 0px;
}
.columns__jWG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__jWG > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jWG {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jWG > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zVvAz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__zVvAz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__zVvAz > :global(.__wab_flex-container) > *,
.column__zVvAz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zVvAz > :global(.__wab_flex-container) > picture > img,
.column__zVvAz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__zNu5R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-GQn-KWNhG3B1L7a);
  font-size: var(--token-3H0iTyFykBwv1HX);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__iqhN6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-l_0_7ybCdonHN4K);
  font-size: var(--token-ASZGThkx6IBSWYz);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__iqhN6 {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__qlIla {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button___0TTkg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4VWjI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hoEKd {
  font-size: 13px;
}
.svg__h5HnW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___8XYcq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__a4Zt2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__a4Zt2 > picture > img {
  object-fit: cover;
}
.img__a4Zt2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__gwYux {
  --plsmc-rc-col-gap: 0px;
}
.columns__gwYux {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__gwYux > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gwYux {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gwYux > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oKqj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fHo13 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-GQn-KWNhG3B1L7a);
  font-size: var(--token-3H0iTyFykBwv1HX);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__ngJ1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-l_0_7ybCdonHN4K);
  font-size: var(--token-ASZGThkx6IBSWYz);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__ngJ1A {
    font-size: 20px;
  }
}
.text__dsvYw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__lm4Hj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tDZn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rkmoS {
  font-size: 13px;
}
.svg__f4AWk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
