@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-OuQegDYpnpt7V-j: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-OuQegDYpnpt7V-j);
  --token-pR0FpPYRFIs9lpq: #ffffff;
  --plasmic-token-white: var(--token-pR0FpPYRFIs9lpq);
  --token-l_0_7ybCdonHN4K: #000000;
  --plasmic-token-black: var(--token-l_0_7ybCdonHN4K);
  --token-CG95M-uLc1kKKV0: #535353;
  --plasmic-token-primary-color: var(--token-CG95M-uLc1kKKV0);
  --token-S8LCA7DEPQFYGV4: 48px;
  --plasmic-token-lead-title: var(--token-S8LCA7DEPQFYGV4);
  --token-3H0iTyFykBwv1HX: 16px;
  --plasmic-token-primary-text: var(--token-3H0iTyFykBwv1HX);
  --token-xufDNKn1K_7ljwR: Inter;
  --plasmic-token-primary-font: var(--token-xufDNKn1K_7ljwR);
  --token-ASZGThkx6IBSWYz: 24px;
  --plasmic-token-small-title: var(--token-ASZGThkx6IBSWYz);
  --token-6JwCNqY244pd37s: 30px;
  --plasmic-token-lead-title-sm: var(--token-6JwCNqY244pd37s);
  --token-t-YRqGJ83ZN3AzD: 20px;
  --plasmic-token-small-title-sm: var(--token-t-YRqGJ83ZN3AzD);
  --token-GQn-KWNhG3B1L7a: #0091ff;
  --plasmic-token-clr: var(--token-GQn-KWNhG3B1L7a);
  --token-Iw8lVteTc3lmwol: var(--token-GQn-KWNhG3B1L7a);
  --plasmic-token-unnamed-style-token-2: var(--token-Iw8lVteTc3lmwol);
  --token-c_Mv1pT-mOtIzER: var(--token-Gll7uvKYh2VtiGX);
  --plasmic-token-unnamed-style-token-3: var(--token-c_Mv1pT-mOtIzER);
  --token-Gll7uvKYh2VtiGX: var(--token-j2QTLkMyhUCEKF8);
  --plasmic-token-unnamed-style-token-4: var(--token-Gll7uvKYh2VtiGX);
  --token-j2QTLkMyhUCEKF8: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-j2QTLkMyhUCEKF8);
  --token--NRfei-LgwNMZM5: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token--NRfei-LgwNMZM5);
  --token-kYHzf5yDRths5RQ: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-kYHzf5yDRths5RQ);
  --token-qTwWndnb7UUkCen: var(--token--NRfei-LgwNMZM5);
  --plasmic-token-unnamed-style-token-8: var(--token-qTwWndnb7UUkCen);
  --token-r_qt_RDh2-crSCC: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-r_qt_RDh2-crSCC);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-5790JE2HIDOO5kf_font-family: "Inter", sans-serif;
  --mixin-5790JE2HIDOO5kf_font-size: 16px;
  --mixin-5790JE2HIDOO5kf_font-weight: 400;
  --mixin-5790JE2HIDOO5kf_font-style: normal;
  --mixin-5790JE2HIDOO5kf_color: #535353;
  --mixin-5790JE2HIDOO5kf_text-align: left;
  --mixin-5790JE2HIDOO5kf_text-transform: none;
  --mixin-5790JE2HIDOO5kf_line-height: 1.5;
  --mixin-5790JE2HIDOO5kf_letter-spacing: normal;
  --mixin-5790JE2HIDOO5kf_white-space: pre-wrap;
  --mixin-5790JE2HIDOO5kf_user-select: text;
  --mixin-5790JE2HIDOO5kf_text-decoration-line: none;
  --mixin-5790JE2HIDOO5kf_text-overflow: clip;
  --mixin-4Mei28VcGSzZyfA_color: var(--token-pR0FpPYRFIs9lpq);
  --mixin-4Mei28VcGSzZyfA_font-weight: 700;
  --mixin-4Mei28VcGSzZyfA_font-size: 50px;
  --mixin-4Mei28VcGSzZyfA_line-height: 1;
  --mixin-4Mei28VcGSzZyfA_letter-spacing: -1px;
  --mixin-4Mei28VcGSzZyfA_font-family: "Inter", sans-serif;
  --mixin-4Mei28VcGSzZyfA_white-space: pre-wrap;
  --mixin-Z9_DrGbto8P3Sqj_color: #000000;
  --mixin-Z9_DrGbto8P3Sqj_font-weight: 700;
  --mixin-Z9_DrGbto8P3Sqj_font-size: 36px;
  --mixin-Z9_DrGbto8P3Sqj_line-height: 1.1;
  --mixin-Z9_DrGbto8P3Sqj_letter-spacing: -1px;
  --mixin-Z9_DrGbto8P3Sqj_font-family: "Inter", sans-serif;
  --mixin-Z9_DrGbto8P3Sqj_white-space: pre-wrap;
  --mixin-JSJyuUvA-otj1I6_color: #3291ff;
  --mixin-JSJyuUvA-otj1I6_white-space: pre-wrap;
  --mixin-VbAVs9TJBWO9h3q_color: #000000;
  --mixin-VbAVs9TJBWO9h3q_font-weight: 600;
  --mixin-VbAVs9TJBWO9h3q_font-size: 28px;
  --mixin-VbAVs9TJBWO9h3q_line-height: 1.2;
  --mixin-VbAVs9TJBWO9h3q_letter-spacing: -0.8px;
  --mixin-VbAVs9TJBWO9h3q_font-family: "Inter", sans-serif;
  --mixin-VbAVs9TJBWO9h3q_white-space: pre-wrap;
  --mixin-V6j6pvirsaOcens_color: #000000;
  --mixin-V6j6pvirsaOcens_font-weight: 600;
  --mixin-V6j6pvirsaOcens_font-size: 24px;
  --mixin-V6j6pvirsaOcens_line-height: 1.3;
  --mixin-V6j6pvirsaOcens_letter-spacing: -0.5px;
  --mixin-V6j6pvirsaOcens_white-space: pre-wrap;
  --mixin-Idc4BagZIz8zXZO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Idc4BagZIz8zXZO_border-bottom-color: #dddddd;
  --mixin-Idc4BagZIz8zXZO_border-bottom-style: solid;
  --mixin-Idc4BagZIz8zXZO_border-bottom-width: 1px;
  --mixin-Idc4BagZIz8zXZO_border-left-color: #dddddd;
  --mixin-Idc4BagZIz8zXZO_border-left-style: solid;
  --mixin-Idc4BagZIz8zXZO_border-left-width: 1px;
  --mixin-Idc4BagZIz8zXZO_border-right-color: #dddddd;
  --mixin-Idc4BagZIz8zXZO_border-right-style: solid;
  --mixin-Idc4BagZIz8zXZO_border-right-width: 1px;
  --mixin-Idc4BagZIz8zXZO_border-top-color: #dddddd;
  --mixin-Idc4BagZIz8zXZO_border-top-style: solid;
  --mixin-Idc4BagZIz8zXZO_border-top-width: 1px;
  --mixin-Idc4BagZIz8zXZO_border-bottom-left-radius: 3px;
  --mixin-Idc4BagZIz8zXZO_border-bottom-right-radius: 3px;
  --mixin-Idc4BagZIz8zXZO_border-top-left-radius: 3px;
  --mixin-Idc4BagZIz8zXZO_border-top-right-radius: 3px;
  --mixin-Idc4BagZIz8zXZO_font-family: "Inconsolata";
  --mixin-Idc4BagZIz8zXZO_padding-bottom: 1px;
  --mixin-Idc4BagZIz8zXZO_padding-left: 4px;
  --mixin-Idc4BagZIz8zXZO_padding-right: 4px;
  --mixin-Idc4BagZIz8zXZO_padding-top: 1px;
  --mixin-Idc4BagZIz8zXZO_white-space: pre-wrap;
  --mixin-Y3mXq_1icFVweUC_border-left-color: #dddddd;
  --mixin-Y3mXq_1icFVweUC_border-left-style: solid;
  --mixin-Y3mXq_1icFVweUC_border-left-width: 3px;
  --mixin-Y3mXq_1icFVweUC_color: #888888;
  --mixin-Y3mXq_1icFVweUC_padding-left: 10px;
  --mixin-Y3mXq_1icFVweUC_white-space: pre-wrap;
  --mixin-q6C_usxU7u7Agpn_font-family: "Inter", sans-serif;
  --mixin-q6C_usxU7u7Agpn_color: #000000;
  --mixin-q6C_usxU7u7Agpn_font-size: 16px;
  --mixin-q6C_usxU7u7Agpn_font-weight: 600;
  --mixin-q6C_usxU7u7Agpn_line-height: 1.5;
  --mixin-q6C_usxU7u7Agpn_white-space: pre-wrap;
  --mixin-5hEqprDmRIq97RU_font-family: "Inter", sans-serif;
  --mixin-5hEqprDmRIq97RU_font-size: 20px;
  --mixin-5hEqprDmRIq97RU_font-weight: 500;
  --mixin-5hEqprDmRIq97RU_color: var(--token-l_0_7ybCdonHN4K);
  --mixin-5hEqprDmRIq97RU_white-space: pre-wrap;
  --mixin-ORVwwwIn3HqQ14g_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ORVwwwIn3HqQ14g_border-bottom-color: #dddddd;
  --mixin-ORVwwwIn3HqQ14g_border-bottom-style: solid;
  --mixin-ORVwwwIn3HqQ14g_border-bottom-width: 1px;
  --mixin-ORVwwwIn3HqQ14g_border-left-color: #dddddd;
  --mixin-ORVwwwIn3HqQ14g_border-left-style: solid;
  --mixin-ORVwwwIn3HqQ14g_border-left-width: 1px;
  --mixin-ORVwwwIn3HqQ14g_border-right-color: #dddddd;
  --mixin-ORVwwwIn3HqQ14g_border-right-style: solid;
  --mixin-ORVwwwIn3HqQ14g_border-right-width: 1px;
  --mixin-ORVwwwIn3HqQ14g_border-top-color: #dddddd;
  --mixin-ORVwwwIn3HqQ14g_border-top-style: solid;
  --mixin-ORVwwwIn3HqQ14g_border-top-width: 1px;
  --mixin-ORVwwwIn3HqQ14g_border-bottom-left-radius: 3px;
  --mixin-ORVwwwIn3HqQ14g_border-bottom-right-radius: 3px;
  --mixin-ORVwwwIn3HqQ14g_border-top-left-radius: 3px;
  --mixin-ORVwwwIn3HqQ14g_border-top-right-radius: 3px;
  --mixin-ORVwwwIn3HqQ14g_font-family: "Inconsolata";
  --mixin-ORVwwwIn3HqQ14g_padding-bottom: 3px;
  --mixin-ORVwwwIn3HqQ14g_padding-left: 6px;
  --mixin-ORVwwwIn3HqQ14g_padding-right: 6px;
  --mixin-ORVwwwIn3HqQ14g_padding-top: 3px;
  --mixin-ORVwwwIn3HqQ14g_white-space: pre-wrap;
  --mixin-HFyr7iNz_sfSgbV_display: flex;
  --mixin-HFyr7iNz_sfSgbV_flex-direction: column;
  --mixin-HFyr7iNz_sfSgbV_align-items: stretch;
  --mixin-HFyr7iNz_sfSgbV_justify-content: flex-start;
  --mixin-HFyr7iNz_sfSgbV_list-style-position: outside;
  --mixin-HFyr7iNz_sfSgbV_padding-left: 40px;
  --mixin-HFyr7iNz_sfSgbV_position: relative;
  --mixin-HFyr7iNz_sfSgbV_list-style-type: decimal;
  --mixin-HFyr7iNz_sfSgbV_white-space: pre-wrap;
  --mixin-4XvtqUlVkyNEOF8_display: flex;
  --mixin-4XvtqUlVkyNEOF8_flex-direction: column;
  --mixin-4XvtqUlVkyNEOF8_align-items: stretch;
  --mixin-4XvtqUlVkyNEOF8_justify-content: flex-start;
  --mixin-4XvtqUlVkyNEOF8_list-style-position: outside;
  --mixin-4XvtqUlVkyNEOF8_padding-left: 40px;
  --mixin-4XvtqUlVkyNEOF8_position: relative;
  --mixin-4XvtqUlVkyNEOF8_list-style-type: disc;
  --mixin-4XvtqUlVkyNEOF8_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5790JE2HIDOO5kf_font-family);
  font-size: var(--mixin-5790JE2HIDOO5kf_font-size);
  font-weight: var(--mixin-5790JE2HIDOO5kf_font-weight);
  font-style: var(--mixin-5790JE2HIDOO5kf_font-style);
  color: var(--mixin-5790JE2HIDOO5kf_color);
  text-align: var(--mixin-5790JE2HIDOO5kf_text-align);
  text-transform: var(--mixin-5790JE2HIDOO5kf_text-transform);
  line-height: var(--mixin-5790JE2HIDOO5kf_line-height);
  letter-spacing: var(--mixin-5790JE2HIDOO5kf_letter-spacing);
  white-space: var(--mixin-5790JE2HIDOO5kf_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-4Mei28VcGSzZyfA_color);
  font-weight: var(--mixin-4Mei28VcGSzZyfA_font-weight);
  font-size: var(--mixin-4Mei28VcGSzZyfA_font-size);
  line-height: var(--mixin-4Mei28VcGSzZyfA_line-height);
  letter-spacing: var(--mixin-4Mei28VcGSzZyfA_letter-spacing);
  font-family: var(--mixin-4Mei28VcGSzZyfA_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Z9_DrGbto8P3Sqj_color);
  font-weight: var(--mixin-Z9_DrGbto8P3Sqj_font-weight);
  font-size: var(--mixin-Z9_DrGbto8P3Sqj_font-size);
  line-height: var(--mixin-Z9_DrGbto8P3Sqj_line-height);
  letter-spacing: var(--mixin-Z9_DrGbto8P3Sqj_letter-spacing);
  font-family: var(--mixin-Z9_DrGbto8P3Sqj_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-JSJyuUvA-otj1I6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-VbAVs9TJBWO9h3q_color);
  font-weight: var(--mixin-VbAVs9TJBWO9h3q_font-weight);
  font-size: var(--mixin-VbAVs9TJBWO9h3q_font-size);
  line-height: var(--mixin-VbAVs9TJBWO9h3q_line-height);
  letter-spacing: var(--mixin-VbAVs9TJBWO9h3q_letter-spacing);
  font-family: var(--mixin-VbAVs9TJBWO9h3q_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-V6j6pvirsaOcens_color);
  font-weight: var(--mixin-V6j6pvirsaOcens_font-weight);
  font-size: var(--mixin-V6j6pvirsaOcens_font-size);
  line-height: var(--mixin-V6j6pvirsaOcens_line-height);
  letter-spacing: var(--mixin-V6j6pvirsaOcens_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Idc4BagZIz8zXZO_font-family);
  border-radius: var(--mixin-Idc4BagZIz8zXZO_border-top-left-radius)
    var(--mixin-Idc4BagZIz8zXZO_border-top-right-radius)
    var(--mixin-Idc4BagZIz8zXZO_border-bottom-right-radius)
    var(--mixin-Idc4BagZIz8zXZO_border-bottom-left-radius);
  padding: var(--mixin-Idc4BagZIz8zXZO_padding-top)
    var(--mixin-Idc4BagZIz8zXZO_padding-right)
    var(--mixin-Idc4BagZIz8zXZO_padding-bottom)
    var(--mixin-Idc4BagZIz8zXZO_padding-left);
  border-top: var(--mixin-Idc4BagZIz8zXZO_border-top-width)
    var(--mixin-Idc4BagZIz8zXZO_border-top-style)
    var(--mixin-Idc4BagZIz8zXZO_border-top-color);
  border-right: var(--mixin-Idc4BagZIz8zXZO_border-right-width)
    var(--mixin-Idc4BagZIz8zXZO_border-right-style)
    var(--mixin-Idc4BagZIz8zXZO_border-right-color);
  border-bottom: var(--mixin-Idc4BagZIz8zXZO_border-bottom-width)
    var(--mixin-Idc4BagZIz8zXZO_border-bottom-style)
    var(--mixin-Idc4BagZIz8zXZO_border-bottom-color);
  border-left: var(--mixin-Idc4BagZIz8zXZO_border-left-width)
    var(--mixin-Idc4BagZIz8zXZO_border-left-style)
    var(--mixin-Idc4BagZIz8zXZO_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Y3mXq_1icFVweUC_color);
  padding-left: var(--mixin-Y3mXq_1icFVweUC_padding-left);
  border-left: var(--mixin-Y3mXq_1icFVweUC_border-left-width)
    var(--mixin-Y3mXq_1icFVweUC_border-left-style)
    var(--mixin-Y3mXq_1icFVweUC_border-left-color);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-q6C_usxU7u7Agpn_font-family);
  color: var(--mixin-q6C_usxU7u7Agpn_color);
  font-size: var(--mixin-q6C_usxU7u7Agpn_font-size);
  font-weight: var(--mixin-q6C_usxU7u7Agpn_font-weight);
  line-height: var(--mixin-q6C_usxU7u7Agpn_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-5hEqprDmRIq97RU_font-family);
  font-size: var(--mixin-5hEqprDmRIq97RU_font-size);
  font-weight: var(--mixin-5hEqprDmRIq97RU_font-weight);
  color: var(--mixin-5hEqprDmRIq97RU_color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ORVwwwIn3HqQ14g_font-family);
  border-radius: var(--mixin-ORVwwwIn3HqQ14g_border-top-left-radius)
    var(--mixin-ORVwwwIn3HqQ14g_border-top-right-radius)
    var(--mixin-ORVwwwIn3HqQ14g_border-bottom-right-radius)
    var(--mixin-ORVwwwIn3HqQ14g_border-bottom-left-radius);
  padding: var(--mixin-ORVwwwIn3HqQ14g_padding-top)
    var(--mixin-ORVwwwIn3HqQ14g_padding-right)
    var(--mixin-ORVwwwIn3HqQ14g_padding-bottom)
    var(--mixin-ORVwwwIn3HqQ14g_padding-left);
  border-top: var(--mixin-ORVwwwIn3HqQ14g_border-top-width)
    var(--mixin-ORVwwwIn3HqQ14g_border-top-style)
    var(--mixin-ORVwwwIn3HqQ14g_border-top-color);
  border-right: var(--mixin-ORVwwwIn3HqQ14g_border-right-width)
    var(--mixin-ORVwwwIn3HqQ14g_border-right-style)
    var(--mixin-ORVwwwIn3HqQ14g_border-right-color);
  border-bottom: var(--mixin-ORVwwwIn3HqQ14g_border-bottom-width)
    var(--mixin-ORVwwwIn3HqQ14g_border-bottom-style)
    var(--mixin-ORVwwwIn3HqQ14g_border-bottom-color);
  border-left: var(--mixin-ORVwwwIn3HqQ14g_border-left-width)
    var(--mixin-ORVwwwIn3HqQ14g_border-left-style)
    var(--mixin-ORVwwwIn3HqQ14g_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-HFyr7iNz_sfSgbV_display);
  flex-direction: var(--mixin-HFyr7iNz_sfSgbV_flex-direction);
  align-items: var(--mixin-HFyr7iNz_sfSgbV_align-items);
  justify-content: var(--mixin-HFyr7iNz_sfSgbV_justify-content);
  list-style-position: var(--mixin-HFyr7iNz_sfSgbV_list-style-position);
  padding-left: var(--mixin-HFyr7iNz_sfSgbV_padding-left);
  position: var(--mixin-HFyr7iNz_sfSgbV_position);
  list-style-type: var(--mixin-HFyr7iNz_sfSgbV_list-style-type);
  flex-column-gap: var(--mixin-HFyr7iNz_sfSgbV_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-4XvtqUlVkyNEOF8_display);
  flex-direction: var(--mixin-4XvtqUlVkyNEOF8_flex-direction);
  align-items: var(--mixin-4XvtqUlVkyNEOF8_align-items);
  justify-content: var(--mixin-4XvtqUlVkyNEOF8_justify-content);
  list-style-position: var(--mixin-4XvtqUlVkyNEOF8_list-style-position);
  padding-left: var(--mixin-4XvtqUlVkyNEOF8_padding-left);
  position: var(--mixin-4XvtqUlVkyNEOF8_position);
  list-style-type: var(--mixin-4XvtqUlVkyNEOF8_list-style-type);
  flex-column-gap: var(--mixin-4XvtqUlVkyNEOF8_flex-column-gap);
}
