.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-l_0_7ybCdonHN4K);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__nFzYy {
  --plsmc-rc-col-gap: 0px;
}
.columns__nFzYy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__nFzYy > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nFzYy > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nFzYy > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nFzYy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nFzYy > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qJxA7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__qJxA7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__qJxA7 > :global(.__wab_flex-container) > *,
.column__qJxA7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qJxA7 > :global(.__wab_flex-container) > picture > img,
.column__qJxA7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__oGo7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-pR0FpPYRFIs9lpq);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__oGo7 {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column___9H8M4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-pR0FpPYRFIs9lpq);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___9H8M4 {
    padding: 0px 8px;
  }
}
.h5__gk5W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__gk5W {
    margin: 0px 0px 15px;
  }
}
.link__nC9Xd {
  position: relative;
  color: var(--token-pR0FpPYRFIs9lpq);
  font-size: var(--token-3H0iTyFykBwv1HX);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link__bqmGd {
  position: relative;
  color: var(--token-pR0FpPYRFIs9lpq);
  font-size: var(--token-3H0iTyFykBwv1HX);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__qShLk {
  position: relative;
  color: var(--token-pR0FpPYRFIs9lpq);
  font-size: var(--token-3H0iTyFykBwv1HX);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__ajmvH {
  position: relative;
  color: var(--token-pR0FpPYRFIs9lpq);
  font-size: var(--token-3H0iTyFykBwv1HX);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__ajmvH {
    margin: 0px 0px 1.5em;
  }
}
.link___4G6WY {
  position: relative;
  color: var(--token-pR0FpPYRFIs9lpq);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column__qxAq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-pR0FpPYRFIs9lpq);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__qxAq {
    padding: 0px 8px;
  }
}
.h5__fUXep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__fUXep {
    margin: 0px 0px 15px;
  }
}
.columns__muDr6 {
  --plsmc-rc-col-gap: 0px;
}
.columns__muDr6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-pR0FpPYRFIs9lpq);
  min-width: 0;
  border-style: solid;
}
.columns__muDr6 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__muDr6 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__muDr6 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__muDr6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__muDr6 > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__muDr6 > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__muDr6 > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__lX03A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dpt3M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dpt3M > picture > img {
  object-fit: cover;
}
.img__dpt3M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___69WyU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ep1Wb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ep1Wb > picture > img {
  object-fit: cover;
}
.img__ep1Wb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___7S7J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rTlpb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rTlpb > picture > img {
  object-fit: cover;
}
.img__rTlpb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___6ZItB {
  --plsmc-rc-col-gap: 0px;
}
.columns___6ZItB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-pR0FpPYRFIs9lpq);
  min-width: 0;
  border-style: solid;
}
.columns___6ZItB > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6ZItB > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6ZItB > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZItB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZItB > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZItB > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZItB > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__mYeJz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4QuLl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___4QuLl > picture > img {
  object-fit: cover;
}
.img___4QuLl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__yrmBz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0FcIc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0FcIc > picture > img {
  object-fit: cover;
}
.img___0FcIc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__iLZkJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__o8Iv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o8Iv > picture > img {
  object-fit: cover;
}
.img__o8Iv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text__zTg18 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-pR0FpPYRFIs9lpq);
  font-size: var(--token-3H0iTyFykBwv1HX);
  min-width: 0;
  margin: 1em 0px 0px;
}
